*{padding:0; margin:0; box-sizing: border-box;}
ul,li{list-style:none;}
a{text-decoration: none; color:inherit;}
table{width:100%; border-collapse:collapse;}
img{max-width: 100%;}
body{background-color: salmon; color:#333;position:relative; width:100%; height:100%;}

